* {
    margin: 0;
    text-decoration: none;
}

:root {
    --color: rgb(67, 24, 67);
    --color_bgc: rgb(219, 166, 219);
    --body_bgc: rgb(255, 183, 255);
    --black: black;
    --white: white;
    --fontsize: 26px;
}

/* :root {
    --color: rgb(218, 91, 153);
    --color_bgc: rgb(243, 199, 222);
    --body_bgc: rgb(208, 155, 174);
}
 */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--body_bgc);
}

header {
    width: 70%;
    background-color: var(--color_bgc);
    margin: 0 auto;
}

.header-sell {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#time {
    width: 80px;
    height: 40px;
    border-radius: 24px;
    border: 2px solid var(--white);
    background-color: var(--color);
    display: flex;
    flex-direction: row;
}

.timenum {
    width: 42px;
    height: 40px;
    background-color: var(--color_bgc);
    border-radius: 24px;
}

.sell-content {
    width: 70%;
    background-color: var(--color_bgc);
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

.block_home {
    width: 70%;
    background-color: var(--body_bgc);
    margin: 0 auto 20px auto;
    border: 1px solid var(--color);
}

.hi {
    width: 100%;
    margin: 0 auto;
}

.sell-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#reest {
    width: 45%;
    min-height: 140px;
    background-color: var(--body_bgc);
    border: 1px solid var(--color);
}

#go {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.goplay {
    background-color: var(--body_bgc);
    text-align: center;
    margin-top: 12px;
}

#first {
    background-color: var(--color);
    border: none;
    color: white;
    margin-top: 20px;
    width: 80%;
}

.a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

/* block */

.block {
    height: var(--fontsize);
    width: var(--fontsize);
    border: 1px solid white;
}

#game {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.line {
    display: flex;
}

.wall {
    background-color: black;
}

.player {
    background-color: orange;
}

.air {
    background-color: plum;
}

.flag {
    background-color: green;
}

.coin {
    background-color: gold;
}

.star {
    background-color: gold;
}


.key {
    background-color: green;
}

.lock {
    background-color: blue;
}

.pip {
    background-color: red;
}




footer {
    width: 70%;
    height: 50px;
    margin: 20px auto 0 auto;
    background-color: var(--color_bgc);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* vsp */
#ocno {
    position: fixed;
    background-color: var(--color_bgc);
    width: 40%;
    height: 40%;
    left: 30%;
    top: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#coinnum {
    position: fixed;
    margin: 40px;
}

#starnum {
    position: fixed;
    margin: 20px;
}

#up {
    background-color: var(--color);
    width: 150px;
    margin: 0 auto;
}

.onk {
    display: flex;
    justify-content: center;
}

.onk button {
    height: calc(150px/3);
    width: calc(150px/3);
}

@media screen and (width < 768px){
    :root {
        --fontsize: 22px;
    }
    header {
        width: 100%;
    }
    .sell-content{
        width: 90%;
    }

    #starnum{
        margin: 60px;
    }
    #coinnum {
        margin: 80px;
    }

    footer {
        width: 100%;
    }
}